body {
    background-image: url('kazuend-2KXEb_8G5vo-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
}
.container {
    width: 800px;
    margin: auto; 
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    height: 100vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}


header {
    margin-bottom: 20px;
}
.packages {
    list-style: none;
    padding: 0;
    color: #fff; 
}

.packages li {
    margin-bottom: 20px;
}
