body {
    background-image: url(kazuend-2KXEb_8G5vo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 800px;
    margin:auto; 
    text-align: left;
    font-size:30px;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    font-weight:500;
}
header {
    
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px; 
}

.packages {
    list-style: none;
    padding: 0;
    color: rgb(255, 255, 255);
}

.packages li {
    margin-bottom: 20px;
}
