body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #c1c1bc 46%, #ffaa00 100%);
}

.contact {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px; 
    color: antiquewhite;
    background: #516894; 
    background-image: linear-gradient(90deg, #516894 0%, #0b0e35 100%);
}

.contacts {
    list-style: none;
    padding: 0;
    display: flex;
    background-color: #cdc1c1;
    background-image: linear-gradient(180deg, #cdc1c1 0%, #9391de 50%, #1aeed6 100%);
    width: 95vw;
    overflow-x: auto;
    justify-content: center; 
}

.contacts li {
    margin-right: 20px; 
    text-align: center;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .contact {
        font-size: 20px; 
        margin-bottom: 30px; 
    }
    
    .contacts li {
        margin-right: 10px; 
    }
}
