body {
    background-image: url('michael-baccin-Cv5ooHwI2DQ-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.viewpage {
    width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    text-align: center;
    font-family: 'Lora', serif; 
    font-weight: 600; 
    margin-bottom: 10px;
    font-size: 60px;
}

.profession {
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 400; 
    margin-bottom: 120px;
    font-size: 25px;
}

.certificate,
.experiencehead,
.education .study,
.education .experience {
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 600;
    margin: auto; 
    margin-bottom: 40px;
    font-size: 40px;
}
