.contact-page {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgb(12,7,21);
  background: linear-gradient(90deg, rgba(12,7,21,1) 0%, rgba(20,20,56,1) 35%, rgba(12,20,70,1) 100%);
  border-radius: 10px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  border-radius: 200px;
}

.contact-page h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #ffffff;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.contact-icon {
  font-size: 50px;  
  color: #ffffff;      
  transition: transform 0.3s;
  text-decoration: none;
}

.contact-icon:hover {
  transform: scale(1.1); 
}
