/* Home Page Styles */
.homepage {
  font-family: 'Orbitron', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  position: relative;
}

.hero {
  position: relative;
  z-index: 2;
  width: 50%;
  padding-left: 50px;
  bottom: 20%;
}

.hero-content {
  max-width: 800px;
  text-align: left;
  margin-top: 50%;
}

.name-heading {
  font-size: 2.5rem;
  margin-bottom: 20%;
}

.title-heading {
  font-size: 1.8rem;
  margin-top: 90px;
  margin-left: 6%;
}

.letter {
  display: inline-block;
  opacity: 0;
  animation: enterAndAlign 1s ease-in-out forwards, wave 8s ease-in-out infinite 1s;
  line-height: 1.5;
  margin: 0 0.2rem;
}

/* Scroll Indicator */
.scroll-indicator {
  position: absolute;
  left: 10px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.line {
  width: 3px;
  height: 50px;
  background-color: #fff;
  margin: 10px 0;
}

.scroll-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 12px;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-top: 10px;
}

/* Animation for letters entering */
@keyframes enterAndAlign {
  0% {
    opacity: 0;
    transform: translate(0, 1);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes wave {
  0%, 100% {
    transform: translateY(1);
  }
  50% {
    transform: translateY(0.08rem);
  }
}

.right-side-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #000;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
}

.hex-grid {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

.hex {
  width: 50px;
  height: 50px;
  background-color: rgba(92, 92, 92, 0.2);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 10px;
  position: relative;
  animation: float 5s ease-in-out infinite, shadeMovement 15s linear infinite;
}

/* Keyframes for floating effect */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Keyframes for moving shades of black */
@keyframes shadeMovement {
  0% {
    background-color: rgb(14, 39, 34);
  }
  50% {
    background-color: rgba(20, 20, 20, 0.4);
  }
  100% {
    background-color: rgba(34, 88, 104, 0.2);
  }
}

.down-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 5;
}

.down-button:hover {
  color: #1a73e8;
}

/* Logo Styles */
.logo {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  padding: 30px;
  background-color: #000;
  box-shadow: 0 4px 8px rgba(211, 47, 47, 0.8);
  text-align: center;
  z-index: 2;
}

.logo-symbol {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  color: #D32F2F;
  margin-top: 0;
}

.initials {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5rem;
  color: #D32F2F;
  font-weight: 600;
}

.slogan {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.2rem;
  color: #D32F2F;
  font-weight: 600;
}

/* Horizontal Lines */
.horizontal-line {
  width: 40%;
  height: 2px;
  background-color: #D32F2F;
  margin-top: 5%;
}

.horizontal-line.indented {
  margin-left: 50px;
  width: 40%;
}

/* Adjustments for tablets and smaller screens */
@media (max-width: 768px) {
  .homepage {
    flex-direction: column;
    padding: 20px;
  }

  .hero {
    width: 100%;
    padding-left: 0px;
    bottom: 10%;
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
    margin-top: 70%;
  }

  .name-heading {
    font-size: 2rem;
    margin-bottom: 10%;
  }

  .title-heading {
    font-size: 1.5rem;
    margin-top: 60px;
  }

  .letter {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .scroll-indicator {
    bottom: 8%;
    left: 1.5%;
  }

  .line {
    height: 30px;
  }

  .scroll-text {
    font-size: 10px;
  }

  .right-side-animation {
    width: 30%;
    height: 100%;
  }

  .hex {
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .down-button {
    font-size: 1.5rem;
    bottom: 8%;
  }

  .logo {
    right: auto;
    left: 1.5%;
    top: 11%;
    transform: translateY(0);
    padding: 3%;
  }

  .logo-symbol {
    font-size: 3rem;
  }

  .initials {
    font-size: 1.8rem;
  }

  .slogan {
    font-size: 1.8rem;
  }

  .horizontal-line {
    width: 60%;
  }

  .horizontal-line.indented {
    margin-left: 20px;
    width: 60%;
  }
}

/* Adjustments for very small screens (phones) */
@media (max-width: 480px) {
  .hero {
    padding-left: 0px;
    bottom: 5%;
  }

  .hero-content {
    margin-top: 80%;
  }

  .name-heading {
    font-size: 1.5rem;
    margin-bottom: 5%;
  }

  .title-heading {
    font-size: 0.8rem;
    margin-top: 40px;
    text-align: left;
  }

  .letter {
    font-size: 1rem;
  }

  .scroll-indicator {
    bottom: 15%;
    left: 1.5%;
  }

  .line {
    height: 20px;
  }

  .scroll-text {
    font-size: 8px;
  }

  .right-side-animation {
    width: 30%;
    height: 100%;
  }

  .hex {
    width: 30px;
    height: 30px;
    margin: 3px;
  }

  .down-button {
    font-size: 1.2rem;
    bottom: 15%;
  }

  .logo {
    right: auto;
    left: 1.5%;
    top: 12%;
    transform: translateY(0);
    padding: 3%;
  }

  .logo-symbol {
    font-size: 1.5rem;
  }

  .initials {
    font-size: 1.1rem;
  }

  .slogan {
    font-size: 1.1rem;
  }

  .horizontal-line {
    width: 80%;
  }

  .horizontal-line.indented {
    margin-left: 10px;
    width: 80%;
  }
}
